@model TacocatWCustomModel.Models.PalindromeModel

@{
    ViewData["Title"] = "Result";
}

<h1>Result</h1>

<div>
    <h4>PalindromeModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Input)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Input)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reverse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reverse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Result)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Result)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
